In [1]:
#Dependencies and Setup - main - Heroes Of Pymoli - Randy Dettmer - 2/28/2020
import pandas as pd

In [2]:
#File to load - Read purchase file and store into pandas data frame
file = "04-Pandas_Homework_HeroesOfPymoli_Resources_purchase_data.csv"
df1 = pd.read_csv(file)
#df1.head() - option to print to screen the header of the file to see the format and column names

In [3]:
#Player Count ------------------------------------------------------------------------------------------------------------------
#determine count of SN - number of players and dispay data frame
SN_count = len(df1["SN"].value_counts())
df2 = pd.DataFrame({"Total Players": [SN_count]})
df2

   Total Players
0            576

In [4]:
#Purchasing Analysis (Total) ---------------------------------------------------------------------------------------------------
#determine number of unique items purchased
unique_items = len(df1["Item ID"].value_counts())

In [5]:
#calculate average price
avg_price = df1["Price"].mean()

In [6]:
#calculate total number of purchases
total_pur = len(df1["Purchase ID"].value_counts())

In [7]:
#calculate total revenue
total_rev = df1["Price"].sum()

In [8]:
#summary of purchasing analysis totals with formating, display data frame
df2 = pd.DataFrame({"Number of Unique Items": [unique_items], "Average Price": [avg_price], "Number of Purchases": [total_pur], "Total Revenue": [total_rev]})
df2["Average Price"] = df2["Average Price"].map("${0:.2f}".format)
df2["Total Revenue"] = df2["Total Revenue"].map("${0:.2f}".format)
df2

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

In [9]:
#Gender Demographics -----------------------------------------------------------------------------------------------------------
#calculation to determine Gender totals
df3 = pd.DataFrame(df1.loc[:, ["SN", "Gender"]])
df3.drop_duplicates(subset="SN", keep='first', inplace=True)

In [10]:
#Gender demographics calculation
gender_amt = df3["Gender"].value_counts()
df4 = pd.DataFrame(gender_amt)
df4 = df4.rename(columns={"Gender":"Total Count"})

In [11]:
#calculations for percentages of players by Gender
gender_cnt = df4["Total Count"]/SN_count

In [12]:
#generate data frame for purchase demographics by Gender with formating
df4["Percentage of Players"] = gender_cnt.map("{0:.2%}".format)
df4

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [13]:
#Purchasing Analysis (Gender) --------------------------------------------------------------------------------------------------
#calculate average purchase price by Gender
gpmean = df1.groupby("Gender").Price.mean()

In [14]:
#total purchase value by Gender
gpsum = df1.groupby("Gender").Price.sum()

In [15]:
#avg total purchase per person by Gender
atppp = gpsum/(df4["Total Count"])

In [16]:
#generate data frame with purchasing analysis Gender with formating
gender_amt = df1["Gender"].value_counts()
df5 = pd.DataFrame(gender_amt)
df5 = df5.rename(columns={"Gender":"Purchase Count"})
df5["Average Purchase Price"] = gpmean.map("${0:.2f}".format)
df5["Total Purchase Value"] = gpsum.map("${0:.2f}".format)
df5["Avg Total Purchase per Person"] = atppp.map("${0:.2f}".format)
df5

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Male,652,$3.02,$1967.64,$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [17]:
#Age Demographics --------------------------------------------------------------------------------------------------------------
#generate bins and group labels for ages within the data set
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [18]:
#sort out players by age and removing duplicate players where players are = SN
#this is to get to an accurate number of players since the data is based on purchases
df6 = pd.DataFrame(df1.loc[:,["SN", "Age"]])
df6.drop_duplicates(subset="SN", keep='first', inplace=True)
df6["Age Range"] = pd.cut(df6["Age"], bins, labels = group_labels)

In [19]:
#calculating age demographics and generating formating
agegroup = df6.groupby("Age Range")
df7 = agegroup.count()
df8 = df7[["Age"]]
df8["Percentage of Players"] = (df8["Age"]/SN_count).map("{0:.2%}".format)
df8 = df8.rename(columns={"Age":"Total Count"})
df8

           Total Count Percentage of Players
Age Range
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

In [20]:
#Purchasing Analysis (Age) -----------------------------------------------------------------------------------------------------
#purchase analysis by age - use the same bins and group labels as above
#sort out age by purchases
df9 = pd.DataFrame(df1.loc[:,["Age","Price"]])
df9["Age Range"] = pd.cut(df9["Age"], bins, labels = group_labels)

In [21]:
#groupby stuff to collect totals and generate data frame with formating
df10 = df9.groupby("Age Range").count()
df11 = df10[["Age"]]
df11["Average Purchase Price"] = (df9.groupby("Age Range").Price.mean()).map("${0:.2f}".format)
df11["Total Purchase Value"] = (df9.groupby("Age Range").Price.sum()).map("${0:.2f}".format)
df11["Average Total Purchase Price"] = ((df9.groupby("Age Range").Price.sum())/df8["Total Count"]).map("${0:.2f}".format)
df11

,Age,Average Purchase Price,Total Purchase Value,Average Total Purchase Price
Age Range,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [22]:
#Top Spenders ------------------------------------------------------------------------------------------------------------------
#determine top spenders - sort on players (SN) for purchases and amounts
#count number of purchases by SN - OK - 8
SNPIDcnt = df1.groupby("SN").count()["Purchase ID"]

In [23]:
#calculate average for number of purchases per player (SN)
SNavpur = df1.groupby("SN").mean()["Price"]

In [24]:
#calculate the total of purchases per player (SN)
SNPsum = df1.groupby("SN").sum()["Price"]

In [25]:
#generate data frame with accumulated results with formating
df12 = pd.DataFrame({"Purchase Count": SNPIDcnt, "Avg Purchase Price" : SNavpur, "Total Purchase Value" : SNPsum})
df12["Avg Purchase Price"] = df12["Avg Purchase Price"].map("${0:.2f}".format)
df12["Total Purchase Value"] = df12["Total Purchase Value"].map("${0:.2f}".format)
df12.sort_values("Purchase Count", ascending=False).head(5)

             Purchase Count Avg Purchase Price Total Purchase Value
SN
Lisosia93                 5              $3.79               $18.96
Iral74                    4              $3.40               $13.62
Idastidru52               4              $3.86               $15.45
Asur53                    3              $2.48                $7.44
Inguron55                 3              $3.70               $11.11

In [26]:
#Most Popular Items ------------------------------------------------------------------------------------------------------------
#determine most popular itmes
#count number of purchases by Purchase ID
Itemcnt = df1.groupby("Item Name").count()["Purchase ID"]

In [27]:
#calculate Item Name Price total value
Itemsum = df1.groupby("Item Name").sum()["Price"]

In [28]:
#calculate each individual item price by dividing item sum by item count
Itemprice = Itemsum/Itemcnt

In [29]:
#generate data frame with accumulated results with formating
df13 = pd.DataFrame({"Purchase Count": Itemcnt, "Item Price" : Itemprice, "Total Purchase Value" : Itemsum})
df13["Item Price"] = df13["Item Price"].map("${0:.2f}".format)
df13["Total Purchase Value"] = df13["Total Purchase Value"].map("${0:.2f}".format)
df13.sort_values("Purchase Count", ascending=False).head(5)

,Purchase Count,Item Price,Total Purchase Value
Item Name,,,
Final Critic,13,$4.61,$59.99
"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
Persuasion,9,$3.22,$28.99
Nirvana,9,$4.90,$44.10
"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [30]:
#Most Profitable Items ---------------------------------------------------------------------------------------------------------
#Sort the above data frame by Total Purchase Value in descending order
#Initiate sort of prior data frame by Total Value, descending
df13.sort_values("Total Purchase Value", ascending=False).head(5)

,Purchase Count,Item Price,Total Purchase Value
Item Name,,,
Stormfury Mace,2,$4.99,$9.98
"Chaos, Ender of the End",5,$1.98,$9.90
Stormfury Longsword,2,$4.93,$9.86
"The Void, Vengeance of Dark Magic",4,$2.37,$9.48
Frenzied Scimitar,6,$1.56,$9.36